body{
    width: 100%;
    margin: 3.125rem auto 0 auto;
    display: flex;
  justify-content: center;
  flex-direction: column;
}
#header{
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1, p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.125rem;
}
form{
   
    margin-top: 0em;
    border-radius: 0.25rem;
    background:rgba(27, 27, 50, 0.8);
    padding: 2.5rem;
    margin: 0 auto;
    color: white;
    
}
.form-group {
    margin: 0 auto 1.25rem auto;
    padding: auto;
}
label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
   
}
input, button,  textarea {
 
    font-family: inherit;
    font-size: inherit;
    
}
.form-control {
    
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
button {
    display: block;
    width: 100%;
    padding: 0.80rem;
    background:#37af65;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
    padding-left: 0.10rem;
    margin-left:0.90rem ;
}
textarea{
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}
#description{
    text-align: center;
}

